<VirtualHost *:80>
    ServerName  {{ aptly_virtualhost }}
    ServerAdmin {{ aptly_admin }}

    DocumentRoot {{ aptly_root }}/public/
    <Directory />
        Options Indexes FollowSymLinks MultiViews
        AllowOverride None
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log

    # Possible values include: debug, info, notice, warn, error, crit,
    # alert, emerg.
    LogLevel warn

    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
